<div id="logbook-container">
    <h5>Logbook</h5>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Grade</th>
                <th>Max Span</th>
                <th>Avg Hold Size</th>
                <th>Comment</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Finder's Fee</td>
                <td>V9</td>
                <td>60</td>
                <td>0.75</td>
                <td>simulation of the finder's fee boulder</td>
                <td>Active</td>
            </tr>
        </tbody>
    </table>
</div>
